/**/
.debug {
  border: 1px solid red;
}

body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.resume {
  text-align: justify;
}

.resume-in {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  padding: 1.5rem;
}

.resume-out {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  height: 0;
}

.subtitles {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .subtitles h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .part-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .logotipo img {
    max-width: 100%;
  }
  .avatar img {
    max-width: 100%;
    margin-bottom: .5rem;
  }
  .subtitles {
    margin-left: 0rem;
  }
}
